# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# Logs
*.log

# STS / Eclipse
.classpath
.project
.settings/

# IntelliJ
.idea/
*.iml

# OS
.DS_Store
Thumbs.db

# Application local configs
application-local.properties
